.cardSpent-contianer {
  display: grid;
  grid-template-columns: 8fr 2fr;
  padding: 0 1rem;
}
.receptor {
  display: flex;
  align-items: center;
  gap: 1em;
}
.destinatario {
  margin: 0;
}
.cardSpent-contianer__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cardSpent-contianer__body__mount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.cardSpent-contianer__body__mount h4 {
  margin: 0;
}
