.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* color de fondo semi-transparente */
  backdrop-filter: blur(5px); /* efecto de desenfoque */
  transition: all 0.15s ease-in-out;
}

.newSpent-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  border-radius: 0.5em;
  padding: 1rem;
  width: 70vw;
  box-shadow: 6px 6px 2px #00000085;
  /* backdrop-filter: blur(12px); */
}

.newSpent-container h2 {
  margin: 0;
  color: #000;
}
.newSpent-header {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.newSpent-header__btn-closeModal {
  font-weight: 100;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
  border: none;
  border-radius: 0.2em;
  width: 25px;
  height: 25px;
  background-color: #3c5ca58e;
}
.newSpent-header__btn-closeModal:hover {
  background-color: #3c5ba5;
  font-weight: 800;
}
.form-newspent {
  display: grid;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  gap: 1rem;
}

.form-newspent__selects-section {
  display: flex;
  justify-content: space-around;
}
.selectSty {
  font-family: "Montserrat";
  border: none;
  outline: none;
  border-radius: 0.5em;
  padding: 0.5em 1.3em;
  font-size: 1rem;
  font-weight: 900;
  border-bottom: #0000004f 1px solid;
  background-color: #00000017;
}
.form-newSpent-section {
  /* border: 1px solid #dadcpadde059; */
  /* padding: 1em; */
}
.form-newSpent-section-mid {
  display: grid;
  /* grid-template-columns: 4fr 0.5fr; */
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  padding: 0 1em;
}

.newSpent-input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75em;
}
.newSpent-input {
  border: none;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 7px;
  padding: 0.8em 1em;
  outline: none;
  transition: all 0.15s;
  width: 70%;
  background-color: #cececea2;
}
.newSpent-input:focus {
  outline: 2px solid #2c3a91cb;
  background-color: #fff;
}

.label-newSpent {
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
}
.input-file {
  color: #000;
  border: none;
  content: none;
}

.newSpent-btn {
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #2c3a91cb;
  color: #fff;
  padding: 0.6em;
  border-radius: 0.3em;
  transition: all 0.3s;
  width: 25%;
  margin: auto;
  border: none;
  /* font-size: 1rem; */
}

.newSpent-btn:hover {
  background-color: #24294a;
  box-shadow: 1px 1px 5px #000;
}

.input-file {
  /* Estilo personalizado para el botón de carga */
  position: relative;
}
.input-file::before {
  background-color: #cececea2;
  border-radius: 7px;
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Cargar "; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 80%;
  padding: 0;
}

.input-file input[type="file"] {
  opacity: 0;
  display: inline-block;
  cursor: pointer;
  padding: 1em;
}
