.home-main {
  display: grid;
  grid-template-rows: 1fr;
  max-width: 100vw;
  min-height: 100%;
  background-color: #cecece;
  color: #fff;
}
.navBar-container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.home-body {
  /* position: relative; */
  margin-top: 3rem;
  padding: 1em;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.newSpent-main-container {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.home__newSpent-btn {
  border: none;
  border-radius: 0.3em;
  height: 50px;
  width: 50px;
  background-color: #3c5ca569;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}
.home__newSpent-btn:hover {
  background-color: #3c5ca5;
}
.mounth-total-container {
  display: flex;
  justify-content: space-between;
  color: #000;
  background-color: none;
  padding: 0 1em;
  border-radius: 1em;
}
/* .mounth-total-container h3,
.mounth-total-container h1 {
  margin: 0;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 00;
} */
.mid {
  background-color: #fff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grafico-cont {
  width: 60%;
  filter: drop-shadow(1px 1px 8px #00000071);
}

.grafico-cont__totalGastos {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 1.5rem;
}
.labels-container {
  width: 100%;
}
