.allSpents-contianer {
  gap: 1rem;
  width: 90vw;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  /* border: 0.5px dashed #a8a7a7; */
}
.allSpentents__arrow-container{
  width: 100%;
  height: 30px;
}
.arrow-cont {
  border: 1px solid #000000b0;
  border-radius: 50%;
  padding: 0.3em;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.arrow-cont:hover {
  background-color: #5071be;
}
.allSpents-header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allSpents-body {
  width: 100%;
}
.allSpents-graphics {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allSpents-Cards-Container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid #e0e0e0; */
  overflow: auto;
  height: 40vh;
}

::-webkit-scrollbar {
  width: 5px; /* establece el ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* establece el color de fondo de la pista */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* establece el color del pulgar */
  border-radius: 10px; /* redondea los bordes del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* establece el color del pulgar al pasar el mouse sobre él */
}

.SpentTrash {
  color: #a8a7a7;
  cursor: pointer;
  transition: all 0.15s;
}

.SpentTrash:hover {
  color: #5071be;
}
.btn-multipleDelete {
  padding: 0.5em 1em;
  background-color: #be5050;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s;
  cursor: pointer;
}
.allSpents-Cards-Container__checkbox:focus {
  color: #000;
  background-color: #be5050;
}
.btn-multipleDelete:hover {
  background-color: #dd3737;
}
