.userInfo-container__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* color de fondo semi-transparente */
  backdrop-filter: blur(5px); /* efecto de desenfoque */
  transition: all 0.15s ease-in-out;
}

.userInfo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  color: black;
  width: 50%;
  border-radius: 1em;
  padding: 1em 3em;
}

.userInfo-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.userInfo-body__item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1em;
  text-transform: capitalize;
}
.userInfo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
.userInfo-footer__btn {
  border: none;
  padding: 0.5em 1em;
  margin: auto;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 0.5em;
  transition: all 0.3s ease-in-out;
}
.userInfo-footer__btn:hover {
  cursor: pointer;
  outline: 1px solid purple;
  background-color: #fff;
  color: purple;
}
