.gastoCard-cont {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  border-radius: 0.4em;
  border-bottom: 1px solid #cecece;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.gastoCard-cont:hover {
  background-color: #f5f5f5;
  color: #000;
}
.gastoCard-cont:hover .typeName {
  font-weight: 900;
  font-size: 1.1em;
  text-shadow: -2px 4px 1px #00000028;
}

.gastoCard-cont div b {
  font-weight: 400;
}
